<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Register</h1>
    <form id="login-form" action="/user/register" method="POST">
        <input type="text" name="rusername" placeholder="Username" required> <br><br>
        <input type="password" name="rpassword" placeholder="Password" required> <br><br>
        <input type="submit" value="Register">
    </form>
    <h1>Login</h1>
    <form id="login-form" action="/login" method="POST">
        <input type="text" name="lusername" placeholder="Username" required> <br><br>
        <input type="password" name="lpassword" placeholder="Password" required> <br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
