<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
  </head>
  <body>
    <main>
      <h1>Protected</h1>
      <form action="/orders">
        <input type="submit" value="Zobrazit objednávky" />
    </form>
    <form action="/inventory">
      <input type="submit" value="Zobrazit sklad" />
  </form>
    </main>
  </body>
</html>